.navbar{
background-color:rgb(153, 27, 179);
border-radius: 5px;

}
.navbar ul{
overflow: auto;


}
.navbar li{
    float: left;
    list-style: none;
    padding: 5px 5px;
}
.navbar li a{
text-decoration: none;
padding: 5px 5px;
color: rgb(253, 249, 249);
}
.search{
    float: right;
    color: white;
    padding: 5px 10px;
}
.navbar input{
border: 2px solid black;
border-radius: 5px;
padding: 2px 5px;


}
.navbar li a:hover{
    color: rgb(255, 115, 0);